/**Sommaire**/

/*Header*/
/*Top*/
/*Section 1 hebergement*/
/*Aside populaire*/
/*Section 2 activités*/
/*Footer*/
/*Tablette*/
/*Smartphone*/

#bloc_page
{
	max-width: 1400px;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding:18px;
}

body
{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	width: 100vw;
	overflow-x: hidden;
	padding-bottom: 0px;
}

header 
{
	margin-top :7px;
}

h2
{
	font-size: 1.3em;
	font-weight: 900;
}

/*Header*/

#header
{
	display: flex;
	justify-content: space-between;
}

.logo
{
	margin-top: 5px;
	flex-grow: 2;
}

nav ul
{
	list-style-type: none;
	display: flex;
}

nav li
{
	margin-right: 40px;
}

nav a 
{
	font-size: 1.3em;
	color:#181818;
	text-decoration: none;
	padding-top: 20px;
	border-top: 3px solid transparent;
}

nav a:hover
{
	color: #0065FC;
	border-top: 2px solid #0065FC;
}

.inscription a
{
	display: flex;
	font-size: 1.3em;
	color:#0065FC;
	text-decoration: none;
	padding-top: 15px;
	padding-left: 15px;
}

/*Top*/

#top h1
{
	margin-bottom: 10px;
}

#top h3
{
	font-size: 1.3em;
}

#top p
{
	margin-left: 0px;
	margin-bottom: 10px;
	font-size: 1em;
}

#recherche
{
	display: flex;
	margin-top: 30px;
	margin-bottom: 30px;
}

.maps
{
	position: absolute;
	color: black;
	padding: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-radius: 15px 0px 0px 15px;
	background-color: #F2F2F2;
}

#Ville
{
	margin-left: 46px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 10px;
	border: none;
	border: 1.5px solid #F2F2F2;
}

#button_1
{
 	border: 1.5px solid #0065FC;
	border-radius: 0px 15px 15px 0px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -5px;
	text-decoration: none;
	background-color: #0065FC;
	color: white;
}

#button_2
{
	display:none;
}


#filtres
{
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-right: 15px;
}

.alignement
{
	display: flex;
	align-items: center;
}

.alignement h3
{
	font-weight: bold;
	margin-left: 0px;

}

#links ul
{
	display: flex;
	list-style-type: none;
}

#links li
{
	position: relative;
	margin-right: 15px;
	display: flex;
}

#links li:hover 
{
	background-color: #F2F2F2;
	border-radius: 25px 25px 25px 25px;
}

.logo1
{
	position: absolute;
	color: #0065FC;
	font-size: 1.4em;
	border-radius: 25px 25px 25px 25px;
	background-color: #DEEBFF;
	height: 49px;
	width: 49px;
	display: flex;
	align-items: center;
	justify-content: center;
}

a[href="Economie"]
{
	border: 2px solid #d8d8d8;
	border-radius: 25px 25px 25px 25px;
	padding: 13px;
	padding-left: 60px;
	padding-right: 10px;
	text-decoration: none;
	color: black;
	font-weight: bold;

}

a[href="Familial"]
{
	border: 2px solid #d8d8d8;
	border-radius: 25px 25px 25px 25px;
	padding: 13px;
	padding-left: 60px;
	padding-right: 10px;
	text-decoration: none;
	color: black;
	font-weight: bold;

}

a[href="Romantique"]
{
	border: 2px solid #d8d8d8;
	border-radius: 25px 25px 25px 25px;
	padding: 13px;
	padding-left: 60px;
	padding-right: 10px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

a[href="Animaux"]
{
	border: 2px solid #d8d8d8;
	border-radius: 25px 25px 25px 25px;
	padding: 13px;
	padding-left: 60px;
	padding-right: 10px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	white-space:nowrap;
}


.i
{
	color: #0065FC;
	padding: 8px;
	padding-top: 0.05px;
	padding-bottom: 1px;
	margin: 15px;
	margin-left: 0px;
	margin-top: 10px;
	border: 1.5px solid #DEEBFF;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
}

#info
{
	display: flex;
	align-items: center;
	width: 1440px;
	padding-bottom: 10px;
}

/*Section 1 hebergement*/

span
{
	font-weight: bold;
}

#hebergements 
{
	display: flex;
}

.hebergement
{
	position: relative;
	width: 246px;
	height: 199px;
	margin-bottom: 30px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0;
}

a[href="vignette"] /*à dupliquer quand on aura les bons liens*/
{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	margin-bottom: 30px;
	border-radius: 20px 20px 20px 20px;
}

.hebergement img
{
	width: 236px;
	height: 114px;
	object-fit: cover;
	border-radius: 15px 15px 0px 0px;
	margin:5px;
}

#hebergements  p
{
	font-size: 0.8em;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-top: 5px;
	
}

#hebergements  h3
{
	font-size: 1em;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.hb
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.etoiles
{
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	margin-top: 5px;
}

.etoile_1
{
	display: flex;
	color: #0065FC;
}

.etoile_0
{
	display: flex;
	color: #bab6b6;
}

#marseille
{
	width: 100%;
	background-color: #F2F2F2;
	border-radius: 20px 20px 20px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 37px;
}

#marseille h2, #populaires h2 {
	margin-top: 0;
}

a[href="Plus"]
{
	text-decoration: none;
	color: black;
}

/*Aside populaire*/

#populaires
{
	width: 500px;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #F2F2F2;
	border: 1px solid #F2F2F2;
	border-radius: 20px 20px 20px 20px;
	margin-left: 40px;
	padding: 37px;
}

.titre_p
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.stong
{
	font-size: 1.6em;
	margin-bottom: 10px;
}

.text_pop
{
	margin-top: 30px;
}

#populaires img
{
	width: 127px;
	height: 134px;
	object-fit: cover;
	border-radius: 15px 0px 0px 15px;
	margin:5px;
}

.hebergement_pop
{
	position: relative;
	min-height: 144px;
	margin-bottom: 33px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0;
	display: flex;
}

a[href="vignette_2"] /*à dupliquer quand on aura les bons liens*/
{
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	margin-bottom: 33px;
	border-radius: 20px 20px 20px 20px;
}

.hebergement_pop:last-child {
	margin-bottom: 0;
}

.hebergement_8
{
	width: 343px;
	height: 144px;
	margin-bottom: 33px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0;
}

.hebergement_9
{
	width: 343px;
	height: 144px;
	margin-bottom: 33px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0;
}

/*Section 2 activités*/

#activites
{
	margin-bottom: 50px;
}

#activites h2
{
	margin-top: 50px;	
}

#activites h3
{
	margin-top: 2px;
	margin-left: 6px;
	font-size: 1em;
}

.vignettes
{
	display: flex; 
	justify-content: space-between;
}

.deuxieme_colone
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.activites_1
{
	position: relative;
	width: 302px;
	height: 445px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0;
}

a[href="vignette_3"] 
{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 20px 20px 20px 20px;
}

.activites_1 img
{
	width: 100%;
	height: 389px;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
	margin-bottom: 5px;
}

.activites_2
{
	position: relative;
	width: 302px;
	height: 237px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;	
	box-shadow: 0px 0px 20px #b0b0b0;
}

a[href="vignette_4"] 
{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 20px 20px 20px 20px;
}

.activites_2 img
{
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
	margin-bottom: 5px;
}

.activites_3
{
	position: relative;
	width: 302px;
	height: 164px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0;
}

a[href="vignette_5"] 
{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 20px 20px 20px 20px;
}

.activites_3 img
{
	width: 100%;
	height: 108px;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
	margin-bottom: 5px;
}

.activites_4
{
	position: relative;
	width: 302px;
	height: 445px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0; 
}

a[href="vignette_6"] 
{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 20px 20px 20px 20px;
}

.activites_4 img
{
	width: 100%;
	height: 389px;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
	margin-bottom: 5px;
}

.activites_5
{
	position: relative;
	width: 302px;
	height: 195px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0; 
}

a[href="vignette_7"] 
{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 20px 20px 20px 20px;
}	

.activites_5 img
{
	width: 100%;
	height: 140px;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
	margin-bottom: 5px;
}

.activites_6
{
	position: relative;
	width: 302px;
	height: 209px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0; 
}	

a[href="vignette_8"] 
{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 20px 20px 20px 20px;
}

.activites_6 img
{
	width: 100%;
	height: 153px;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
	margin-bottom: 5px;
}

/*Footer*/

footer
{
	background-color: #F2F2F2;
}

.cadrage
{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	max-width: 1400px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.a_propos
{
	margin-right: 295px;
}

.a_propos p
{
	line-height: 1.8em;
}

/*Tablette*/

@media all and (min-width:600px) and (max-width: 1366px)

{
	#hebergements 
	{
	display: flex;
	flex-direction: column-reverse;
	}

	.hebergement
	{
	margin: 30px;
	}

	.hb
	{
	display: flex;
	justify-content: center;
	}

	.lpp
	{
	display: flex;
	justify-content: space-between;
	}

	#populaires
	{
	width: 100%;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color:white;
	border: 1px solid white;
	border-radius: 0px 0px 0px 0px;
	margin-left: 0px;
	padding: 37px;
	}

	.hebergement_pop
	{
	max-width: 30%;
	}

	.text_pop
	{
	margin-top: 10px;
	}

	.hebergement_pop:last-child 
	{
	margin-bottom: 33px;
	}

	/*Acitvités*/

	
	.vignettes
	{
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-around ;
	margin-top: 5px;
	margin-bottom: 5px;
	}

	.deuxieme_colone
	{
		width: 40%;
	}
	
	.activites_1
	{
	width: 40%;
	height: 445px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0;
	margin: 5px;
	}
	
	.activites_2
	{
	width: 100%;
	height: 237px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;	
	box-shadow: 0px 0px 20px #b0b0b0;
	margin: 10px;
	}
		
	
	.activites_3
	{
	width: 100%;
	height: 164px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0;
	margin: 10px;
	}
	
	.activites_4
	{
	width: 40%;
	height: 445px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0; 
	margin: 10px;
	}	
	
	.activites_5
	{
	width: 100%;
	height: 195px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0; 
	margin: 10px;
	}	
	
	.activites_6
	{
	width: 100%;
	height: 209px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0; 
	margin: 10px;
	}	
}

/*Smartphone*/

@media screen and (max-width: 600px)            
	
{	
	body
	{
		width: 100%;
		overflow-x: hidden;
	}

	#button_1 
	{
	display:none;
	}


	#header 
	{
		flex-wrap: wrap;
		justify-content: center;
	}

	
	.inscription a
	{
		font-size: 1.3em;
		color:#0065FC;
		text-decoration: none;
		padding-top: 15px;
		padding-left: 15px;
	}

	.inscription
	{
		order: -1;
		width: 30%;
	}

	.logo
	{
	order: -2;
	margin-top: 0px;
	width: 70%;	
	}

	nav ul
	{
	order: 3;
	width: 100%;
	margin-top: 30px;
	list-style-type: none;
	display: flex;
	padding-left: 0px;
	justify-content: space-around
	}

	nav li
	{
	text-align: center;
	margin-right: 0px;
	}

	nav a 
	{
	font-size: 1em;
	color:#181818;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;

	}

	nav a:hover
	{
	color: #0065FC;
	border-top: none;
	border-bottom: 3px solid #0065FC;
	}

	#recherche
	{
	position: relative;
	}

	#button_2
 	{
	position: absolute;
	top: 0px;
	left: 250px;
	display: flex;
 	border: 1.5px solid #0065FC;
	border-radius: 15px 15px 15px 15px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: -5px;
	text-decoration: none;
	background-color: #0065FC;
	color: white;
 	}
 
	 #Ville
	{
	margin-left: 46px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 10px;
	padding-right: 44px;
	border: none;
	border: 1.5px solid #F2F2F2;
	}

	/*Fitres*/

	.alignement
	{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	}

	#links ul
	{
	list-style-type: none;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	padding-left: 0px;
	}

	#links li
	{
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	display: flex;
	}

	.inscription a
	{
	display: flex;
	font-size: 1em;
	font-weight: bold;
	color:#0065FC;
	text-decoration: none;
	padding-top: 15px;
	padding-left: 15px;
	}

	/*Hebergements*/

	#hebergements 
	{
	display: flex;
	flex-direction: column-reverse;
	}

	.hebergement
	{
	width: 100%;
	height: 199px;
	margin-bottom: 30px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0;
	padding: 5px;
	}

	.hebergement h3 
	{
		margin-top: 2px;
		margin-bottom: 2px;
	}

	.hebergement p 
	{
		margin-top: 3px;
		margin-bottom: 4px;
	}

	.hebergement img
	{
	width: 100%;
	height: 114px;
	object-fit: cover;
	border-radius: 15px 15px 0px 0px;
	margin: 0px;

	}

	#populaires
	{
	width: 100%;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #F2F2F2;

	border-radius: 0px 0px 0px 0px;
	margin-left: -30px;
	padding: 30px;

	}

	#marseille
	{
	width: 100%;
	background-color: white;
	border-radius: 20px 20px 20px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 37px;
	margin-left: -37px;
	}

	.hb
	{
	display: flex;
	justify-content: space-around;
	}

	.text_pop
	{
	margin-top: 0px;
	}

	/*Acitvités*/
	
	.vignettes
	{
	display: flex; 
	flex-direction: column;
	justify-content: space-between;
	margin-top: 5px;
	margin-bottom: 5px;
	}


	.activites_1
	{
	width: 100%;
	height: 445px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0;
	margin-bottom: 30px;
	}

	.activites_2
	{
	width: 100%;
	height: 237px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;	
	box-shadow: 0px 0px 20px #b0b0b0;
	margin-bottom: 30px;
	}
	

	.activites_3
	{
	width: 100%;
	height: 164px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0;
	margin-bottom: 30px;
	}

	.activites_4
	{
	width: 100%;
	height: 445px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0; 
	margin-bottom: 30px;
	}	

	.activites_5
	{
	width: 100%;
	height: 195px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0; 
	margin-bottom: 30px;
	}	

	.activites_6
	{
	width: 100%;
	height: 209px;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #b0b0b0; 
	}	



	/*Footer*/

	footer
	{
	width: 100%;
	display: flex;
	background-color: #F2F2F2;
	justify-content: space-around;
	flex-direction: column;
	}

	.a_propos
	{
	margin-right: 50px;
	}

}